<header fxLayoutAlign="start center">
    <div fxFlex fxLayoutAlign="start end" fxLayoutGap="15">
        <mat-icon color="accent" class="logoicon">store</mat-icon>
        <span id="logo">{{title}}</span>
    </div>
<div fxLayoutGap="15" fxLayoutAlign="start center" fxLayoutGap="15">
        <button mat-button color="primary" routerLink="">Strona główna</button>
        <button mat-button color="accent" routerLink="/products">Produkty</button>
        <span></span>
        <button mat-button color="warn" routerLink="/login">Zaloguj</button>
        <span></span>
        <a routerLink="/cart"><mat-icon color="accent" class="shoppingBasket">shopping_basket</mat-icon></a>
    </div>
</header>