<header flexLayout="column" fxLayoutAlign="start center" fxLayoutGap="45">
    <div fxFlex fxLayoutAlign="start end" fxLayoutGap="10">
        <mat-icon color="accent" class="logoicon">store</mat-icon>
        <span class="logo">Shop Panel</span>
        </div>
        
        <div>
        <mat-icon  fxLayoutAlign="end center" color="accent" class="shoppingBasket">shopping_basket</mat-icon>
    </div>
</header>
<div flexLayout="row" fxFlex>
    <div >
        <div fxFlex class="sidebar">
            <mat-selection-list [multiple]="false">
                <mat-list-option><a routerLink="/admin"> Dashboard</a></mat-list-option>
                <mat-list-option>
                    <a routerLink="/admin/orders"> Zamówienia</a>
                    <span class="subMenuLink">| <a class="inner" routerLink="/admin/orders/export">Eksportuj</a></span>
                    <span class="subMenuLink">| <a class="inner" routerLink="/admin/orders/stats">Statystyki</a></span>
                </mat-list-option>
                <mat-list-option><a routerLink="/admin/products"> Produkty</a></mat-list-option>
                <mat-list-option><a routerLink="/admin"> Link</a></mat-list-option>
                <mat-list-option><a routerLink="/admin/categories"> Kategorie</a></mat-list-option>
                <mat-list-option><a routerLink="/admin/reviews"> Opinie</a></mat-list-option>

            </mat-selection-list>
        </div>
    </div>
    <div fxFlex class="content">
        <app-admin-message></app-admin-message>
        <router-outlet></router-outlet>
    </div>
</div>